<div>
<div>
  <app-form-restaurente  [hidden]="!showForm" [restaurante]="this.restaurante"></app-form-restaurente>
</div>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereco</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let restaurante of restaurantes" >
        <th scope="row">1</th>
        <td>{{restaurante.nome}}</td>
        <td>{{restaurante.endereco}}</td>
        <td><button (click)="onEdit(restaurante)" >Edit</button></td>

      </tr>
    </tbody>
  </table>


</div>